*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
}

:root
{
    --color-bg: #1D1A26;
    --color-purple: #21012F;
    --color-dark-purple: #01000E;
    --color-dark-blue: #0B0828;
}

html
{
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

a { color: inherit; }

body
{
    position: relative;
    padding-bottom: 15vh;
    background-color: var(--color-bg);
}

/* Header */

header
{
    height: 20vh;
}

.container-header
{
    height: 15vh;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    padding: .5vw 1.2vw;
    background-color: var(--color-dark-purple);

}

.container-logo
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-logo > a > img
{
    width: 15vw;
    min-width: 100px;
    cursor: pointer;
}

.container-pesquisar
{
    display: flex;
    align-items: center;
}

.input-def
{
    background-color: var(--color-dark-blue);
    color: white;
    border: 2px solid var(--color-purple);
}

.pesquisar
{
    width: 40vw;
    height: 3vw;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 50px;
}

.icons
{
    display: flex;
    align-items: center;
    gap: 2vw;
    color: white;
}

.icons > i
{
    font-size: 2rem;
    cursor: pointer;
}

.container-conta
{
    display: flex;
    align-items: center;
}

.conta
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 15vw;
    height: 7vh;
    font-weight: 500;
    max-width: 400px;
    min-width: 100px;
    gap: .8vw;
    border-radius: 50px;
    background-color: white;
    border: 2px solid white;
    transition: .2s;
    cursor: pointer;
}

.conta:hover
{
    background-color: var(--color-dark-purple);
    color: white;
}

.conta > i
{
    font-size: 1.4rem;
}

.conta > span
{
    font-size: 1rem;
}

nav
{
    background-color: var(--color-dark-blue);
    display: flex;
    height: 5vh;
}

nav > a
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    border: 1px solid var(--color-dark-purple);
    transition: .2s;
}

nav > a:hover
{
    font-size: 1.1rem;
}

/* Home */

.jogos-title
{
    text-transform: uppercase;
    font-size: 2.2rem;
    text-align: center;
    margin-top: 2vw;
    font-family: Oswald;
    color: white;
}

#content-jogos
{
    font-family: Oswald;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4vw;
    padding: 5vw;
}

.jogos-card
{
    width: 20%;
    padding: 2vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    background-color: white;
    transition: .5s;
    box-shadow: 0px 0px 15px #b7b7b7;
}

.jogos-card:hover
{
    scale: 1.05;
}

.jogos-card > img
{
    width: 15vw;
    border-radius: 10px;
}

.jogos-card > h2
{
    font-size: 1.2rem;
}

.jogos-card > span
{
    width: 100%;
    font-size: 1.4rem;
    font-weight: 800;
}

.jogos-card > a
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 6vh;
    font-size: 1.2rem;
    border-radius: 10px;
    border: 2px solid var(--color-purple);
    background-color: var(--color-purple);
    color: white;
    transition: .5s;
}

.jogos-card > a:hover
{
    background-color: white;
    color: var(--color-purple);
}

/* Create Account */

#content-conta
{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-conta
{
    width: 50vw;
    height: 60vh;
    max-width: 400px;
    min-width: 300px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8%;
    background-color: rgba(255, 255, 255, .1);
    color: white;
    
}

.form-conta > h2
{
    font-size: 1.5rem;
    font-weight: 500;
}

.form-conta > form
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.form-conta > form > div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
}

.form-conta > form > div > input
{
    width: 100%;
    height: 20%;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 50px;
}

.form-conta > form > input
{
    margin-top: 10%;
}

.form-conta > form > div > input:required:valid
{
    border: 2px solid green;
}

.btn-def
{
    width: 40%;
    height: 10%;
    font-size: 18px;
    min-width: 100px;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
}

/* Informations */

#content-informations
{
    color: black;
    font-weight: 400;
}

#content-informations > section
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#content-informations table
{
    width: 70%;
    font-size: .8rem;
    letter-spacing: 1px;
    background-color: white;
    border-collapse: collapse;
    text-align: center;
    margin: 5vh;
    border-radius: 20px;
}

thead
{
    font-size: 1.5rem;
}

tr
{
    border: 2px solid black;
}

td
{
    border-right: 2px solid black;
    padding: 5px;
}

table a
{
    color: blue;
}

td:nth-child(1)
{
    width: 10vw;
}

td:nth-child(2)
{
    width: 40vw;
}

td:nth-child(3)
{
    width: 20vw;
}

/* About Us */

#content-sobre
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    padding: 0 5vw 4vw 5vw;
    color: white;
}

#content-sobre > h1
{
    font-size: 2.5rem;
    margin-top: 1rem;
}

#content-sobre > p
{
    font-size: 1.1rem;
    text-align: center;
    margin: 2vh 0;
}

.container-info > h2
{
    margin-top: 5vh;
}

.container-info > p .container-info > ul
{
    margin-top: 1vh;
}

.container-info > ul
{
    margin: auto;
    width: 100%;
}

.integrantes > h2
{
    font-size: 1.5rem;
    margin: 2rem 0;
}

.container-integrantes
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5vw 8vw;
}

.container-integrantes > div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-integrantes img
{
    width: 15rem;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}
.container-integrantes label
{
    font-size: 1rem;
    font-weight: 600;
    color: white;
    margin-top: 1rem;
}

/* FeedBack */

#content-feedback
{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-feedback
{
    width: 50vw;
    height: 60vh;
    max-width: 400px;
    min-width: 300px;
    padding: 20px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, .1);
    color: white;
}

.form-feedback > h2
{
    font-size: 1.5rem;
    font-weight: 500;
}

.form-feedback > textarea
{
    resize: none;
    width: 80%;
    height: 18vh;
    font-size: 1rem;
    padding: 10px;
    border-radius: 20px;
}

.feedback-icons
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: yellow;
}

.feedback-icons > i
{
    font-size: 2rem;
    cursor: pointer;
}

.a-btn
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12vw;
    height: 7vh;
    font-size: 1.2rem;
    font-weight: 500;
    min-width: 150px;
    border-radius: 50px;
    background-color: white;
    color: black;
    border: 2px solid white;
    transition: .2s;
    cursor: pointer;
}

/* FeedBack Confirmation */

#content-feedback-confirm
{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-feedback-confirm
{
    width: 50vw;
    height: 30vh;
    max-width: 400px;
    min-width: 300px;
    padding: 20px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, .1);
    color: white;
}

.form-feedback-confirm > h2
{
    font-size: 1.2rem;
    font-weight: 700;
}

.form-feedback-confirm > p
{
    font-weight: 300;
}

/* Footer */

footer
{
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
    height: 15vh;
    background-color: var(--color-dark-blue);
    color: white;
}

footer > p
{
    font-weight: 500;
}

.social-icons
{
    font-size: 1.5rem;
}

.social-icons > a > i
{
    transition: .2s;
}

.social-icons > a > i:hover
{
    scale: 1.2;
}

/* Media Queries */

@media screen and (max-width: 1200px) and (min-width: 700px)
{
    #content-jogos
    {
        gap: 10vw;
    }

    .jogos-card
    {
        width: 40%;
        height: 50vh;
    }

    .jogos-card > img
    {
        width: 30vh;
    }
}

@media screen and (max-width: 700px)
{
    #content-jogos
    {
        gap: 10vw;
    }

    .jogos-card
    {
        width: 65%;
        height: 40vh;
    }

    .jogos-card > img
    {
        width: 22vh;
    }
}