* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
}

:root {
    --color-bg: #0c0c13;
    --color-purple: #21012F;
    --color-dark-purple: #01000E;
    --color-dark-blue: #0B0828;
    --color-grey: #25252b;
}

.color-bg {
    background-color: var(--color-bg) !important;
}

.color-purple {
    background-color: var(--color-purple);
}

.color-dark-purple {
    background-color: var(--color-dark-purple);
}

.color-dark-blue {
    background-color: var(--color-dark-blue);
}

.color-grey {
    background-color: var(--color-grey);
}

html {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    height: 100%;
}

a {
    color: inherit;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg);
    height: 100%;
}

textarea {
    resize: none;
}

main {
    flex: 1;
}

nav .logo {
    width: 20vw;
}

.nav-top {
    background-color: var(--color-bg);
}


.nav-bottom
{
    font-size: .8rem;
    background-color: var(--color-dark-blue);
}

.nav-bottom i
{
    font-size: 1.5rem;
}

/* Home */

.card-hover {
    transition: .3s;
}

.card-hover:hover {
    scale: 1.02;
}

.jogos-title {
    text-transform: uppercase;
    font-size: 2.2rem;
    text-align: left;
    padding-left: 3vw;
    margin-top: 2vw;
    font-family: Oswald;
    color: white;
}

#content-jogos {
    font-family: Oswald;
}

/* Create Account */

.caixa-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa-form {
    width: 25vw;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

/* Informations */

#content-informations {
    color: black;
    font-weight: 400;
}

#content-informations>section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#content-informations table {
    width: 70%;
    font-size: .8rem;
    letter-spacing: 1px;
    background-color: white;
    border-collapse: collapse;
    text-align: center;
    margin: 5vh;
    border-radius: 20px;
}

thead {
    font-size: 1.5rem;
}

tr {
    border: 2px solid black;
}

td {
    border-right: 2px solid black;
    padding: 5px;
}

table a {
    color: blue;
}

td:nth-child(1) {
    width: 10vw;
}

td:nth-child(2) {
    width: 40vw;
}

td:nth-child(3) {
    width: 20vw;
}

/* About Us */

#content-sobre {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    padding: 0 5vw 4vw 5vw;
    color: white;
}

#content-sobre>h1 {
    font-size: 2.5rem;
    margin-top: 1rem;
}

#content-sobre>p {
    font-size: 1.1rem;
    text-align: center;
    margin: 2vh 0;
}

.container-info>h2 {
    margin-top: 5vh;
}

.container-info>p .container-info>ul {
    margin-top: 1vh;
}

.container-info>ul {
    margin: auto;
    width: 100%;
}

.integrantes>h2 {
    font-size: 1.5rem;
    margin: 2rem 0;
}

.container-integrantes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5vw 8vw;
}

.container-integrantes>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-integrantes img {
    width: 15rem;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

.container-integrantes label {
    font-size: 1rem;
    font-weight: 600;
    color: white;
    margin-top: 1rem;
}

/* FeedBack */

.feedback-icons {
    display: flex;
    align-items: center;
    gap: 5px;
    color: yellow;
    margin-bottom: 1vh;
    margin-top: 2vh;
}

.feedback-icons>i {
    font-size: 2rem;
    cursor: pointer;
}

/* Footer */

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    gap: 10%;
    background-color: var(--color-dark-blue);
    color: white;
}

footer>p {
    font-weight: 500;
}

.social-icons {
    font-size: 1.5rem;
}

.social-icons>a>i {
    transition: .2s;
}

.social-icons>a>i:hover {
    scale: 1.2;
}

/* Media Queries */

@media screen and (max-width: 900px) {
    .caixa-form {
        width: 80%;
    }
}

/* Carrousel Css */

.carousel-wrapper {
    position: relative;
    margin-bottom: 3rem;
}

.carousel-container {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    display: flex;
    gap: 2rem;
    padding: 0 2rem;
    scroll-behavior: smooth;
    position: relative;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.carousel-container::-webkit-scrollbar {
    display: none;
}

.product-card {
    flex: 0 0 auto;
    width: 250px;
    border: 1px solid #cccccc;
    width: 100px;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 8px;
    scroll-snap-align: start;
    background-color: #ffffff1a;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 2px;
    border-radius: none;
}

.card-title {
    font-size: 1rem;
    margin: 0.5rem 0;
}

.price {
    color: #cccccc;
    font-weight: bold;
}

.carousel-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    border: none;
    font-size: 3rem;
    cursor: pointer;
    color: black;
}

.carousel-arrow.left {
    left: 3rem;
}

.carousel-arrow.right {
    right: 3rem;
}

.price {
    height: 5rem;
    padding-top: 1rem;

}

@media (min-width: 480px) {
.carousel-arrow
{
    font-size: 1.5rem;
}

.container-nav
{
    display: none!important;
}

@media screen and (max-width: 1000px)
{
    .carousel-arrow
    {
        display: none;
    }

    .card-title
    {
        font-size: .8rem;
    }
    
    .card-text
    {
        font-size: .8rem;
    }
}

@media screen and (min-width: 1000px)
{
    nav .logo {
        width: 10vw;
    }

    .nav-bottom
    {
        display: none;
    }

    .container-nav
    {
        display: flex!important;
    }

    .search
    {
        width: 25vw;
    }

    .product-card
    {
        width: 180px;
        height: auto;
    }
}

/* @media (min-width: 480px) {
    .carousel-arrow.left {
        left: 20px;
        font-size: 2.2rem;
    }

    .carousel-arrow.right {
        right: 20px;
        font-size: 2.2rem;
    }
}

@media (min-width: 768px) {
    .carousel-arrow.left {
        left: 30px;
        font-size: 2.5rem;
    }

    .carousel-arrow.right {
        right: 30px;
        font-size: 2.5rem;
    }
}

@media (min-width: 1024px) {
    .carousel-arrow.left {
        left: 40px;
        font-size: 2.8rem;
    }

    .carousel-arrow.right {
        right: 40px;
        font-size: 2.8rem;
    }
}

@media (min-width: 1440px) {
    .carousel-arrow.left {
        left: 50px;
        font-size: 3rem;
    }

    .carousel-arrow.right {
        right: 50px;
        font-size: 3rem;
    }
} */


/* seleção de categorias */

.categorias {
  text-transform: uppercase;
    font-size: 2.2rem;
    text-align: left;
    padding-left: 3vw;
    margin-top: 2vw;
    font-family: Oswald;
    color: white;
}

.categoria-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 35px;
  padding-top: 35px;
  padding-left: 35px;
}

.categoria {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
}

.icone {
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border-radius: 50%;
  margin-bottom: 8px;
 
}

/* Responsivo */
@media (max-width: 600px) {
  .categoria {
    width: 60px;
  }

  .icone {
    width: 50px;
    height: 50px;
  }
}

.title-categoria{
    
    font-size: 1rem;
    text-align: center;
    margin-top: 1vw;
    font-family: Oswald;
    color: white;
}

#imagem-acessórios {
    background-image: url('img/acessórios/Capa Cateogria acessórios.jpg');
  background-size: cover;
  background-position: center;

}
/* Breadcrumb */

.breadcrumb-item{
    text-transform: uppercase;
    font-size: 2.2rem;
    text-align: left;
    padding-left: 3vw;
    margin-top: 2vw;
    font-family: Oswald;
    color: white;
}
.breadcrumb-text{
    color: white;
    font-size: 1.2rem;
    flex-wrap: wrap;
    text-decoration: none; 
}

.breadcrumb-link{
    text-decoration: none; 
}
.breadcrumb-text-active{
    color: #FFA500;
    
}
