@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --background: #0c0c13;
  --foreground: #eeeeee;
  --purple: #21012f;
  --dark-purple: #01000e;
  --dark-blue: #0b0828;
  --grey: #25252b;
  --green: #14d883;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  transition: background-color 300ms cubic-bezier(.4,0,.2,1),
    color 300ms cubic-bezier(.4,0,.2,1),
    border-color 300ms cubic-bezier(.4,0,.2,1),
    box-shadow 300ms cubic-bezier(.4,0,.2,1);
}